@import '../../variables.scss';
.posts-list {
  &__banner {
    position: fixed;
    width: 50%;
    left: 0;
    top: 0;
    height: 100vh;
    overflow: hidden;
    top: 10%;
    @media #{$screen-sm} {
      width: 36%;
    }
    @media #{$screen-xs} {
      display: none;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
